header {
    padding: 40px;
    text-align: center;
    background-color: #83d4f4;
    color: #efc52c;
  }

  #quiz-container {
    color: #83d4f4;
  }
  
  #score-container{
    color: black
  }

  #start-btn{
    color: black
  }

  #timer{
    color:black;
    font-size: 30px;
    font-weight: 900;
  }

  #save-btn{
    color: orangered
  }

  p {
    color: rgb(0, 0, 0)
  }

